.logo {
  height: 6em;
  padding: 1.5em; /* Adjust padding if needed with MUI layout */
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa); /* Theme colors could be used here eventually */
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa); /* Theme colors could be used here eventually */
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  /* Keep animation if desired, applies specifically to logo link */
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


